<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.mapper.AnalysisProductMapper">
	<resultMap id="BaseResultMap" type="com.simple.domain.po.AnalysisProduct">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="product_name" jdbcType="VARCHAR" property="productName" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	
	<sql id="allColumns">
	    `id`,`product_name`,`create_by`,`create_time`,`update_by`,`update_time` 
	</sql>

	<sql id="dynamicWhereConditions">
	        where 1 = 1
		<if test=" null != id "> and `id` = #{id} </if>    
		<if test=" null != productName "> and `product_name` = #{productName} </if>    
		<if test=" null != productNameLike and '' != productNameLike "> and `product_name`  like concat('%', #{productNameLike},'%')</if> 
		<if test=" null != createBy "> and `create_by` = #{createBy} </if>    
		<if test=" null != createTime "> and `create_time` = #{createTime} </if>    
		<if test=" null != updateBy "> and `update_by` = #{updateBy} </if>    
		<if test=" null != updateTime "> and `update_time` = #{updateTime} </if>    
		<if test=" null != ids ">
		 	and id in  
			<foreach collection="ids" index="index" item="idItem" open="(" separator="," close=")">
			#{idItem}
			</foreach>
		</if>		
		<if test=" null != sortColumns"> order by ${sortColumns} </if>
	</sql>
	
	<select id="findList" parameterType="com.simple.domain.po.AnalysisProduct" resultMap="BaseResultMap">
		select <include refid="allColumns" /> from analysis_product
		<include refid="dynamicWhereConditions" />
	</select>
	
	
	
	
	
	
</mapper>
