<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.codemake.mapper.CodeMakeMapper">
  <resultMap id="BaseResultMap" type="com.simple.codemake.model.TableColumnSchema">
    <!-- <id column="id" jdbcType="INTEGER" property="id" /> -->
    <result column="dbColumnName" jdbcType="VARCHAR" property="dbColumnName" />
    <result column="dataType" jdbcType="VARCHAR" property="dataType" />
    <result column="columnComment" jdbcType="VARCHAR" property="columnComment" />
    <result column="extra" jdbcType="VARCHAR" property="extra" />
  </resultMap>
  
  <select id="getTableColumnSchema" resultMap="BaseResultMap" parameterType="java.util.HashMap">
  	SELECT COLUMN_NAME AS dbColumnName, DATA_TYPE AS dataType,COLUMN_COMMENT AS columnComment,
  	EXTRA AS extra 
	FROM information_schema.COLUMNS 
	WHERE TABLE_SCHEMA = #{dbName} AND table_name=#{tableName} ORDER BY ORDINAL_POSITION
  </select>

  <select id="getTables" resultType="String" parameterType="String">
  	SELECT table_name FROM information_schema.tables WHERE table_schema=#{dbName}
  </select>

  
</mapper>